body {
font-family: 'Roboto';
}

div.row {
display: flex;
flex-direction: row;
}

div.grid{
flex-basis: 100%;
text-align: center;
background-color: rgb(227, 227, 227);
padding: 2% 0%;
margin:0.5%;
font-size: 1.2rem;
}

div.residential {
    background-color: rgb(212, 235, 255);
}

div.utility {
    background-color: rgb(191, 242, 194);
}

.legend {
display:inline-flex;
}

.legend .grid {
width: 50%;
}

#legendText {
margin-bottom: 0rem;
}